[submodule "tm-v1-aicompanion-prompts"]
	path = tm-v1-aicompanion-prompts
	url = https://github.com/trendmicro/tm-v1-aicompanion-prompts.git
[submodule "tm-v1-api-mockup"]
	path = tm-v1-api-mockup
	url = https://github.com/trendmicro/tm-v1-api-mockup.git
